* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e9a095;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 200px;
    background-size: 90% 100%;
    color: var(--accent-white);
    font-family: Arial;
    font-size: 20px;
    display: block;
    color: #384637;
    max-width: 450px;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll if content overflows slightly */
}


:root {
    --myrtle-green: #4B787Bff; /* Blue */
    --drab-dark-brown: #454326ff; /* Dark brown */
    --desert-sand: #D6BFAFff; /* Sand */
    --text-color: #ddd; /* Dark Gray */
    --background-color-beaver: #AC9682ff; /* Light Gray */
    --primary-blue: #003b6f; /* Deep Sea Blue */
    --secondary-gold: #ffd700; /* Luxurious Gold */
    --accent-white: #ffffff; /* White Accent */
    --background-gradient: linear-gradient(to bottom, #87cefa, #4682b4); /* Sky to Ocean Gradient */
    --button-hover: #ffa500; /* Warm Glow */
    --seaside-villa: #e8d6cb;
    --butter-cup: #f39c12;
    --saffron-mango: #fabe58;
    --merino: #f7efe8;
    --background: #f8f8f8;
    --button-gradient: #D8D9DB 0%, #fff 80%, #FDFDFD 100%;
    --button-border: #8F9092;
    --button-text: #606060;
    --highlight-bottom: 0 4px 3px 1px #FCFCFC;
    --shadow-bottom: 0 6px 8px #b6b6b6;
    --shadow-top: 0 -4px 4px #CECFD1;
    --highlight-top: 0 -6px 4px #FEFEFE;
    --shadow-inset: inset 0 0 3px 0 #CECFD1;
    --shadow-inset-hover: inset 0 0 3px 3px #CECFD1;
    --shadow-inset-focus: inset 0 0 10px 0px rgba(0, 0, 250, .6);
    --shadow-inset-active: inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    --button-shadow-base: var(--highlight-bottom), var(--shadow-bottom), var(--shadow-top), var(--highlight-top);
    --button-shadow-default: var(--button-shadow-base), var(--shadow-inset);
    --button-shadow-hover: var(--button-shadow-base), var(--shadow-inset-hover);
    --button-shadow-focus: var(--button-shadow-base), var(--shadow-inset-focus);
    --button-shadow-active: var(--button-shadow-base), var(--shadow-inset-active);
}

@media (prefers-color-scheme: dark) {


    img, button, div, section {
        filter: none !important;
    }
}


@keyframes active {
    from {
        box-shadow: var(--button-shadow-focus)
    }

    to {
        box-shadow: var(--button-shadow-hover)
    }
}

    *, *:before, *:after 
    {
        box-sizing: border-box
}


/*Presentation page*/
/* Global Styles */

h1 {
    top: 4vh;
    display: inline-block;
    font-size: 5vh;
    color: #4d0404;
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 16px;
    color: #4d0404;
    text-align: center;
    padding: 1px;
}



h4 {
    font-size: 1.5vh;
    color: #4d0404;
    text-align: left;
    padding: 10px;
}

@keyframes slideDown {
    from {
        opacity:0;
        transform: translateY(-50px);
    }

    to {
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


#headerContainer {
    background-image: linear-gradient(to bottom, #fff 10%, #ccc 90%);
    max-width: 450px;
    height: 30vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    animation: slideDown 0.5s ease-out;
}

#projektiBtn {
    position: fixed;
    top: 7vh;
    right: 5vw;
    z-index: 5;
    width: 140px;
    height: 40px;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(205,27,50,1) 0%, rgba(201,75,52,1) 100%);
    color: #fce9e9;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    transition: all 0.3s ease;
}

#projektiBtn:hover {
    background-color: transparent;
    color: #4f0606;
    box-shadow: none;
    animation: moveWindows 1s infinite;
}

#sidenav {
    margin-top: 35vh;
    width: 100%;
    max-height: none; /* or 90vh or whatever fits your layout */
    text-align: center;
    background-color: #f9a9a9;
    overflow-x: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    display: grid;
}

.tipolBlock {
    display: inline-block;
    max-width: 600px;
    height: min-content;
    color: rgba(56,70,55,1);
    background-color: #f9c9c9;
    margin-top: 0.5rem;
}

/* buttons */

.planBtn {
    width: 100%;
    height: 100%;
    padding: 1px;
    text-decoration: none;
    line-height: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to top, var(--button-gradient));
    border-radius: 3px;
    border: 2px solid var(--button-border);
    box-shadow: var(--button-shadow-default);
    transition: all .2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #3b0303;
    text-shadow: 0 1px #fff
}


    .planBtn::-moz-focus-inner {
        border: 0;
    }

    .planBtn > * {
        transition: transform 0.2s ease;
    }

    .planBtn:hover:not([disabled]) {
        box-shadow: var(--button-shadow-hover); /* Define this in :root or replace with a real value */
    }

        .planBtn:hover:not([disabled]) > * {
            transform: scale(0.975);
        }

    .planBtn:focus:not(:active) {
        animation: active 0.9s alternate infinite;
        outline: none;
    }

    .planBtn:active:not([disabled]) {
        box-shadow: var(--button-shadow-active); /* Define or replace */
    }

        .planBtn:active:not([disabled]) > * {
            transform: scale(0.95);
        }

    .planBtn:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }



.dropbtn {
    display: block;
    background-color: transparent;
    color: #fce9e9;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
    .dropbtn:hover {
        background-color: transparent;
        color: #4f0606;
        box-shadow: none;
    }
.dropdown {

    display: inline-flex;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-align: center;

    border: none;
    background: rgb(155,27,0);
    background: linear-gradient(0deg, rgba(105,27,50,1) 0%, rgba(201,75,52,1) 100%);
}

    .dropdown:hover {
        color: #4f0606;
        background: transparent;
        box-shadow: none;
    }

    .dropdown:before,
    .dropdown:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #f0094a;
        box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
        transition: 400ms ease all;
    }

    .dropdown:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .dropdown:hover:before,
    .dropdown:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }

.filterContainer {
    margin-top: 7vh;
    width: 100%;
    display: block;
    border: 2px solid #ccc;
    background-color: transparent;
    max-width: 450px;
    animation: slideDown 0.5s ease-out;
}

#filterForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    border: 1px solid #ccc;
    background-color: #e4f6fc;
    max-width: 450px;
}

select {
    width: 100%;
    height: 30px;
    display: inline-block;
    text-align: left;
    font: 300 15px roboto, verdana;
    box-sizing: border-box;
}

    select:hover {
        background-color: #ddd;
        color: #4f0606;
    }

#filter-container {
    display: inline-block;
    width: 50%;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border: none;
}
#typologyFilter, #poolFilter {
    display: flex;
    background-image: linear-gradient(to top, var(--button-gradient));
    color: #000;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 30vw;
}
option {
    background-color: transparent;
    color: #222;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

#areaFilter {
    margin-left: 30px;
    width:120px;
}
#filtAreaBtn {
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #CC4331;
    border-radius: 4px;
    text-shadow: 0 -1px -1px #b53d2d;
    box-shadow: 0 4px 0 #b53d2d 0 5px 5px 1px rgba(0,0,0,0.4);
    transition: all 15s ease-in-out;
}
    #filtAreaBtn:hover {
        background-color: #dd513f;
        text-shadow: 0 -1px -1px #cb4d3c;
        box-shadow: 0 4px 0 #cb4d3c 0 5px 5px 1px rgba(0,0,0,0.4);
    }

    #filtAreaBtn:active {
        margin-top: 26px;
        box-shadow: none;
    }


.tipBtn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(215,27,40,1) 0%, rgba(201,75,52,1) 100%);
}

    .tipBtn:hover {
        color: #f0094a;
        background: transparent;
        box-shadow: none;
    }

    .tipBtn:before,
    .tipBtn:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #f0094a;
        box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
        transition: 400ms ease all;
    }

    .tipBtn:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .tipBtn:hover:before,
    .tipBtn:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }


#tipBtnV {
    background: linear-gradient(to top, var(--butter-cup) 10%, var(--secondary-gold) 100%);
    color: black;
}

  
/*   - Tulipan - */
.tipologjiaA_Tul {
    display: grid;
    grid-template-columns: 80px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    max-width: 600px;
    z-index: 2;
}

#containerA {
    grid-column: 1 / span 7;
    padding: 5px;
    display: block;
}
#KatiA0 {
    grid-column: 2 / span 2;
}

#KatiA1 {
    grid-column: 4 / span 2;
}

.tipologjiaB_Tul {
    display: grid;
    grid-template-columns: 60px 33px 33px 33px 33px 33px 33px 33px 33px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    max-width: 600px;
    z-index: 2;
}

#containerB {
    grid-column: 1 / span 712;
    padding: 5px;
    display: block;
}

#KatiB0 {
    grid-column: 2 / span 3;
}

#KatiB1 {
    grid-column: 5 / span 3;
}

#KatiB2 {
    grid-column: 8 / span 2;
}

.tipologjiaC_Tul {
    display: grid;
    grid-template-columns: 60px 33px 33px 33px 33px 33px 33px 33px 33px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    max-width: 600px;
    z-index: 2;
    margin-bottom: 5vh;
}

#containerC {
    grid-column: 1 / span 712;
    padding: 5px;
    display: block;
}

#KatiC0 {
    grid-column: 2 / span 1;
}

#KatiC1 {
    grid-column: 3 / span 3;
}

#KatiC2 {
    grid-column: 6 / span 3;
}

/*   - G7B - */


.tipologjiaA_G7B {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    max-width: 600px;
    z-index: 2;
}

.containerG7B {
    grid-column: 1 / span 7;
    padding: 5px;
    display: block;
}

#shkallaA {
    grid-column: 2 / span 3;
    display: block;
    padding: 10px;
}
#shkallaB {
    grid-column: 5 / span 3;
    display: block;
    padding: 10px;
}
#shkallaC {
    grid-column: 2 / span 6;
    display: block;
    padding: 10px;
}





/*   - JA - */

.tipologjiaA_JA {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    max-width: 600px;
    z-index: 2;
}

.containerJA {
    grid-column: 1 / span 7;
    padding: 5px;
    display: block;
}



.tipologjiaB_JA {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    max-width: 600px;
    z-index: 100;
}

#containerB {
    grid-column: 1 / span 7;
    padding: 5px;
    display: block;
}


.tipologjiaC_JA {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    z-index: 100;
}


#containerC {
    grid-column: 1 / span 7;
    padding: 5px;
    display: block;
}

.tipologjiaD_JA {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    z-index: 100;
}

.tipologjiaE_JA {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    z-index: 100;
}



.tipologjiaV_JA {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    gap: 3px;
    grid-template-rows: 40px 40px 40px 40px 20px;
    background-color: #faeaea;
    font-size: 15px;
    font-weight: 600;
    padding: 1px;
    z-index: 100;
}


    /*Pjesa e imazheve*/

#imagePart {
    position: fixed;
    top: 2rem;
    width: 100%;
    height: 100%;

}
@keyframes fadeInHalf {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

#shiturShkrimi, #rezervuarShkrimi {
    position: fixed;
    bottom: 50vh;
    left: -10vw;
    transform: rotate(45deg);
    width: 100%;
    display: block;
    z-index: 1100;
    color: darkred;
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
    animation: fadeInHalf 1s ease-out forwards;
}


#plan-container {
    position: fixed;
    display: none;
    top: 10px;
    width: 100%;
    height: auto;
    animation: fadeIn 1s ease-out forwards;
    z-index: 1000;
    overflow-y: hidden;
}

#display-image {
    width: 100%;
}

#plan-table {
    top: 10px;
    width: 100%;
    font-size: 18px;
    height: auto;
    padding: 20px;
    background-color: var(--seaside-villa);
    animation: fadeIn 1s ease-out forwards;
    z-index: 10;
}

    #plan-table tr:nth-child(odd) {
        background-color: var(--accent-white);
    }
.aparttId {
    width: 70%;
    font-size: 14px;
    font-weight: 500;
    padding: 2px;
}


.vleraSip {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    width: 30%;
    padding: 2px;
}

th {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    height: auto;
    padding: 8px;
    color: var(--accent-white);
    background-color: var(--drab-dark-brown);
    animation: fadeIn 1s ease-out forwards;
    z-index: 10;
}


.hidden {
    display: none !important;
}

#returnBtn {
    position: fixed;
    top: 1vh;
    left: 10vw;
    z-index: 5;
    width: 130px;
    height: 40px;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(205,27,50,1) 0%, rgba(201,75,52,1) 100%);
    color: #fce9e9;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    transition: all 0.3s ease;
}
    #returnBtn:hover {
        background-color: transparent;
        color: #4f0606;
        box-shadow: none;
    }


#detailed_result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(c, c, c, 0.8);
    padding: 20px;
    overflow-y: auto;
    font-family: monospace;
    max-width: 600px;
    width: 100vw;
    white-space: pre-line;
    z-index: 10000;
}
#fullscreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#fullscreenImage {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
}



.header {
    grid-column: 1/span 2;
    padding: 2px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.item {
    padding-left: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    grid-column: 1/span 2;
}
#priceForm {
    margin-top: 3vh;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    max-width: 450px;
    z-index: 1000;
}


#apSelectForm {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 450px;
    z-index: 1000;
}

.form-section {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: solid 2px #999;
    background-color: #cfeffa;
}

label {
    width: 40%;
    display: inline-block;
    margin-top: 10px;
    font: 500 14px arial, verdana;
}

input[type="number"], input[type="text"] {
    width: 25%;
    display: inline-block;
    padding: 2px;
    text-align: right;
    font: 500 14px arial, verdana;
    margin-top: 10px;
    box-sizing: border-box;
}

input:hover {
    background-color: #ddd;
    color: #4f0606;
}


span {
    font: 500 14px arial, verdana;
    margin-left: 5px;
}
.long_number {
    width: 40% !important;
}

.selctorContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}



.filter-section {
padding: 2px;
width: 100%;
}

.formatted-display {
    width: 30%;
    display: inline-block;
    padding: 2px;
    text-align: right;
    font: 500 14px arial, verdana;
    margin-top: 10px;
    box-sizing: border-box;
}
.result {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    background: white;
    padding: 20px;
    overflow-y: auto;
    font-family: monospace;
    max-width: 400px;
    width: 100vw;
    white-space: pre-line;
    z-index: 1001;
    display: none;
}


#closeForm {
    background-color: #999;
    display: inline;
    width: 40%;
    height: 40px;
    float: left;
    margin-left: 0;
    color: white;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: #000 2px 5px 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

    #closeForm:hover {
        background-color: #bbb;
        color: #4f0606;
        box-shadow: none;
    }

#ApartSelectBtn {
    display: inline-flex;
    width: 100%;
    color: white;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
}


.filterBtn {
    background-image: linear-gradient(#9becfe 5%, #d4ddfb 50%, #9becfe 95%);
    width: 80%;
    height: 40px;
    color: #090630;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    border: 1PX solid #0d0958;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
    .filterBtn:hover {
        background-color: #bbb;
        color: #4f0606;
    }

#result_title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif, Arial Rounded MT;
    color: #4d0404;
}
#result_content {
    font-size: 18px;
    line-height: 1.5;
}

#result_table {
    display:block;
    max-width: 450px;
    border-collapse: collapse;
    font-size: 16px;
}
    #result_table th, #result_table td {
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 8px;
        width: 90vw;
        font-size: 14px;
    }


#topBtnContainer {
    display: block;
    margin-top: 5vh;
}


#calculation {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #707070;
    color: #fce9e9;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    box-shadow: #000 2px 5px 10px;
}

    #calculation:hover {
        background-color: #ddd;
        color: #4f0606;
        box-shadow: none;
    }
#AptSelectBtn {
    display: block;
    background-color: #851717;
    color: #fce9e9;
    margin-top: 1vh;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    padding: 5px;
    float: right;
    text-align: center;
    text-decoration: none;
    box-shadow: #000 2px 5px 10px;
}

#AptSelectBtn:hover {
    background-color: #ddd;
    color: #4f0606;
    box-shadow: none;
}

#calculatorBtn {
    background-color: #051665;
    float: right;
    width: 40%;
    height: 40px;
    margin-left: 20%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: #000 2px 5px 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
    #calculatorBtn:hover {
        background-color: #91dcf5;
        color: #051665;
        box-shadow: none;
    }

.filterBtnContainer {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1 / span 2;
}

#calculationG7B {
    position: fixed;
    top: 7vh;
    left: 5vw;
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #707070;
    color: #fce9e9;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: #000 2px 5px 10px;
}
    #calculationG7B:hover {
        background-color: #ddd;
        color: #4f0606;
        box-shadow: none;
    }

#calculatorBtnG7B {
    float: right;
    margin-top: 20px;
    background-color: #0e37cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: #000 2px 5px 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


